<div class="main-row">
    <div class="main-col">
        <div class="panel panel-default ">
            <div class="panel-head">城市信息管理</div>
            <div class="panel-operate"><a href="#" class="btn btn-info">新建</a></div>
            <div class="panel-list">
                <div class="main-row thead">
                    <div class="main-col col-20">城市名称</div>
                    <div class="main-col col-50">操作</div>
                </div>
                <div class="main-row tbody">
                    <div class="main-col col-20">西安</div>
                    <div class="main-col col-50"><a href="#" class="btn btn-small btn-info">编辑</a><a href="#" class="btn btn-small btn-red">删除</a><a href="#" class="btn btn-small btn-green">上移</a><a href="#" class="btn btn-small btn-green">下移</a></div>
                </div>
                <div class="main-row tbody">
                    <div class="main-col col-20">北京</div>
                    <div class="main-col col-50"><a href="#" class="btn btn-small btn-info">编辑</a><a href="#" class="btn btn-small btn-red">删除</a><a href="#" class="btn btn-small btn-green">上移</a><a href="#" class="btn btn-small btn-green">下移</a></div>
                </div>
                <div class="main-row tbody">
                    <div class="main-col col-20">上海</div>
                    <div class="main-col col-50"><a href="#" class="btn btn-small btn-info">编辑</a><a href="#" class="btn btn-small btn-red">删除</a><a href="#" class="btn btn-small btn-green">上移</a><a href="#" class="btn btn-small btn-green">下移</a></div>
                </div>
                <div class="main-row tbody">
                    <div class="main-col col-20">海外</div>
                    <div class="main-col col-50"><a href="#" class="btn btn-small btn-info">编辑</a><a href="#" class="btn btn-small btn-red">删除</a><a href="#" class="btn btn-small btn-green">上移</a><a href="#" class="btn btn-small btn-green">下移</a></div>
                </div>
            </div>
        </div>
    </div>
</div>