<div class="main-row">
    <div class="main-col">
        <div class="panel panel-default ">
            <div class="panel-head">简历统计</div>

            <div class="panel-operate mb5">
                <input type="text" placeholder="输入年份，如：2016" ng-model="year" class="ml-5"/>
                <a ng-click="searchData()" class="btn btn-info">查询</a>
            </div>
            <div class="panel-list">
                <div id="resume_count_year_chart" class="chart-size"></div>
                <div id="resume_count_degree_chart" class="chart-size"></div>
                <div id="resume_count_exp_chart" class="chart-size"></div>
            </div>
        </div>
    </div>
</div>